
nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: fixed;
    width: 100%;
    padding: 10px;
border-radius: 5px;
border: 1px solid rgba(255, 255, 255, 0.083);
backdrop-filter: blur(10px);
z-index: 1000;
   
}


.logo{
    width: 50px;
    cursor: pointer;
}

ul{
    color: white;
    display: flex;
    gap: 40px;

}

li{
    list-style: none;
    text-transform: capitalize;
    cursor: pointer;
}li:hover{
    list-style: none;
    text-transform: capitalize;
    cursor: pointer;
    color: rgb(185, 183, 183);
}


.responsive-nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 400px;
            z-index: 500000;

}

.hamburger{
    display: none;
}


/* ----------------MEDIA QUERIES------------------- */

@media screen and (max-width: 950px){
    nav{
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: fixed;
        width: 100%;
        padding: 10px;
    border-radius: 5px;
    border: 1px solid rgba(255, 255, 255, 0.083);
    backdrop-filter: blur(10px);
    z-index: 1000;
       
    }
    .responsive-nav{
        text-align: center;
        display: flex;
        align-items: center;
        justify-content:center;
        flex-direction: column;
        gap: 0px;
        position: absolute;
        top:2%;
        left: 2%;
        width: 100%;
        height: 0vw;
        padding: 0px;
        border-radius: 5px;
        z-index: 500000;
        background: linear-gradient(to bottom, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.05) 60%, rgba(0, 0, 0, 0.375) 100%);
        backdrop-filter: blur(10px);
        box-shadow: 0 0 20px rgba(255, 255, 255, 0.1);
        margin-top: 50px;
        overflow: hidden;
        transition: .5s;
    }

     .responsive-nav_active{
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 0px;
        position: absolute;
        top:30%;
        left: 2%;
        width: 100%;
        height: 90vw;
        padding: 10px;
        z-index: 500000;
        background-color: rgba(62, 14, 107, 0.871);
        /* background: linear-gradient(to bottom, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.05) 60%, rgba(0, 0, 0, 0.375) 100%); */
        border-radius: 5px;
        /* border: 1px solid rgba(255, 255, 255, 0.083);
        backdrop-filter: blur(10px);
        box-shadow: 0 0 20px rgba(255, 255, 255, 0.1); */
        margin-top: 50px;
        transition: .5s;
        overflow: hidden;
     }

    ul{
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 40px;
        flex-direction: column;
    }

    .hamburger{
        display: block;
        z-index: 500;
        font-size: 40px;
    }
}