.stepper-container{
    display: flex;
    justify-content: space-evenly;
    color: white;
    margin-top: 50px;
}

h6{
    font-size: 18px;
    text-transform: capitalize;
}

.sub-stepper-container-1 span{
    font-size: 50px;
}
.sub-stepper-container-2{
    display: flex;
    gap: 50px;
}
.stepper-img{
    width: 35px;
}

.stepper-content-container{
    display: flex;
    flex-direction: column;
    gap: 80px;
}

.stepper-content span{
    background:linear-gradient(89.97deg, #AE67FA 1.84%, #F49867 102.67%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    text-transform: capitalize;
    font-weight: 700;
    font-family: "Orbitron", sans-serif;
}



/* ----------------MEDIA QUERIES------------------- */

@media screen and (max-width: 800px){
    .stepper-container{
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
        color: white;
        margin-top: 50px;
    }
    .stepper-img{
        width: 35px;
        display: none;
    }
}