.main-statistics-container{
    color: white;
    padding: 20px;
}
h5{
    color: white;
    font-size: 40px;
    text-transform: capitalize;
    text-align: center;
}

.sub-statistics-container {
    padding: 20px;
    display: grid;
    place-items: center;
}.sub-statistics-container span{
    font-size: 30px;
    background:linear-gradient(89.97deg, #AE67FA 1.84%, #F49867 102.67%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    font-weight: 700;
}
.sub-statistics-container img{
    margin-top: 20px;
}



 /* ----------------MEDIA QUERIES------------------- */

 @media screen and (max-width: 800px){
    .sub-statistics-container img{
        margin-top: 20px;
        width: 100%;
    }
 }
